{% extends 'RatasxyRecargasBundle::layout.html.twig' %}
{% block content %}
<h1>Mis ventas</h1>
{% block search %}
    <form action="{{ path('ventas_searching') }}" method="post">
            {{ form_widget(search_form) }}
            <button type="submit">Buscar</button>
    </form>
{% endblock search %}
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Paquete</th>
            <th>Compra</th>
            <th>Venta</th>
            <th>Porcentaje</th>
            <th>Ganacia</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="{% if entity.estado %}Cancelado{% else %}Pendiente{% endif %}">
            <td><a href="{{ path('ventas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.paquete }}</td>
            <td>{{ entity.compra }}</td>
            <td>{{ entity.venta }}</td>
            <td>{{ entity.porcentaje }}</td>
            <td>{{ entity.ganacia }}</td>
            <td>{{ entity.fecha|date('Y-m-d') }}</td>
            <td>{{ entity.usuario.nombre }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('ventas_show', { 'id': entity.id }) }}">Detalles</a>
                    </li>
                    <li>
                        <a href="{{ path('ventas_edit', { 'id': entity.id }) }}">Cambiar Estado</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
<table>
<tr><th>Tipo</th><th>Caja</th><th>Claro</th></tr>
<tr class="Pendiente"><td>Pendiente</td><td>{{ calculos.Pendiente.ganancia }}</td><td>{{ calculos.Pendiente.compra }}</td></tr>
<tr class="Cancelado"><td>Cancelado</td><td>{{ calculos.Cancelado.ganancia }}</td><td>{{ calculos.Cancelado.compra }}</td></tr>
</table>

<ul>
    <li>
        <a href="{{ path('ventas_new') }}">
            Hacer nueva venta
        </a>
    </li>
</ul>
{% endblock %}
